<p>exo4 works!</p>

<nav class="menu-container">
    <div style="cursor: pointer;">
        <svg (click)="isOpen = !isOpen" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="icon">
            <path *ngIf="!isOpen" stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
            <path *ngIf="isOpen" stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
        </svg>
    </div>
    
    <ul *ngIf="isOpen" class="menu">
        <li *ngFor="let link of links">{{link}}</li>
    </ul>
</nav>

<li>Hey</li>
<li>Ho</li>
<li>Lu</li>
  